@font-face {
    font-family: 'brandFont';
    src: url("/fonts/static/roboto/RobotoSlab-Bold.ttf");

    font-family: 'brandFontLight';
    src: url("/fonts/static/roboto/RobotoSlab-Light.ttf");

    font-family: 'bodyText';
    src: url("/fonts/nonito/static/Nunito-SemiBold.ttf");
}

body
{
    overflow-x: hidden;
}
.containerMain{
background-color: #135A4A;   
}
#brand
{
    position: relative;
    left: 40px;
}


nav{
    background-color: transparent;
    
}
.textItem{
    padding-top:60px ;
}
.brandName{
    font-family: 'brandFont';
    color: rgb(255, 255, 255);
    font-size: 30px;
}
.underBrandName{
    font-family: 'brandFontLight';
    color: rgb(255, 255, 255);
    
}
a >strong{
    color:  white;
    font-family: 'bodyText';
    font-size: 30px;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,  
    -1px 1px 0 #000,  
    1px 1px 0 #000; 
         
}


.custom-navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

.custom-navbar ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}

.custom-navbar li {
    list-style: none;
    margin: 0;
}
@media (max-width: 991px) {
    .navbarContainer{
        display: flex;
        justify-content: right;
    }
  }


.carruselRow{
    padding-bottom: 30px;
}
.carruselBody{
    border-radius: 15px;
    overflow: hidden;
}

#myCarouselIndicators > button{
    width: 50px;
    height: 13px;
    background-color: #e6cbb0;
    border-radius: 10px;
    overflow: hidden;
    border: #000;
}

.containerCards{
    padding-top: 20px;
    background-color: #e6cbb0;
}
.card{
    background-color: #34b497;
    color: white;
    font-family: "bodyText";
    min-height: 510px;
    border: none;
    box-shadow: 0px 0px 5px #222;
}


.containerMain2{
    background-color: #135a4a;
    
}
.recetasContainer{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #e6cbb0;

}
.rowTitle
{
    display: flex;
    text-align: center;
    
}



footer
{
    margin: 0;
}
.titleOnBeige
{
    font-family: 'brandFont';
    color: #135a4a;
    font-size: 40px;
    text-decoration: underline overline;
    margin-bottom: 10px;
}
.titleOnGreen
{
    font-family: 'brandFont';
    color: white;
    font-size: 40px;
    text-decoration: underline overline;
}
.accordion-button
{       
    background-color: #135A4A;
    color: white;
    
}
.accordion-button:not(.collapsed) {
    background-color: #34b497;
    color: white;
    
}
